<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div class="container">
  <div>
    <h1><a href="/">선물 정보 관리 시스템 </a> </h1>
    <p>
      <button onclick="location.href='/gift/list'">선물목록</button >
    </p>
<!--    <p>-->
<!--      <button onclick="location.href='/giftceo/new'">선물추가</button >-->
<!--    </p>-->
    <p>
      <button onclick="location.href='/gift/search'">선물검색</button >
    </p>
  </div>
</div> <!-- /container -->
<div>
  <form action="/auth/logout" method="post">
    <button type="submit">로그아웃</button>
  </form>
</div>
</body>
</html>