<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h1><a href="/gift">선물 관리 시스템</a> </h1>
        <table border ="1" width="50%" height=200 bordercolor="black">
            <thead>
            <tr>
                <th colspan="5">선물 목록</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>category</td>
                <td>price</td>
                <td>sales_link</td>
            </tr>

            <tr th:each="gift : ${giftList}">
                <td th:text="${gift.giftId}"></td>
                <td>
                    <a th:href="@{/gift/{id}(id=${gift.giftId})}" th:text="${gift.name}"></a>
                </td>
                    <td th:text="${gift.category}"></td>
                    <td th:text="${gift.price}"></td>
                    <td th:text="${gift.sales_link}"></td>
                </a>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>