<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>선물(CEO)</title>
</head>
<body>
<div class="container">
  <div>
    <h1><a href="/">선물 관리 시스템(CEO)</a> </h1>
    <table border ="1" width="50%" height=200 bordercolor="black">
      <thead>
      <tr>
        <th colspan="8">선물</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>id</td>
        <td>name</td>
        <td>category</td>
        <td>link</td>
        <td>price</td>
        <td>수정</td>
        <td>삭제</td>
      </tr>
      <tr>
        <td th:text="${gift.giftId}"></td>
        <td th:text="${gift.name}"></td>
        <td th:text="${gift.category}"></td>
        <td th:text="${gift.sales_link}"></td>
        <td th:text="${gift.price}"></td>
        <td><a th:href="@{/giftceo/update/{id}(id = ${gift.giftId})}">수정</a></td>
        <td><a th:href="@{/giftceo/delete/{id}(id = ${gift.giftId})}">삭제</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>