<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div class="container">
  <div>
    <h1><a href="/">선물 정보 관리 시스템(CEO) </a> </h1>
    <p>
      <button onclick="location.href='/giftceo/list'">자신이 등록한 선물 목록</button >
    </p>
    <p>
      <button onclick="location.href='/giftceo/new'">선물 추가</button >
    </p>
    <p>
      <button onclick="location.href='/giftceo/search'">자신의 선물 검색</button >
    </p>
  </div>
</div>
</body>
</html>